extend layout
block content
	.row
		.col-md-6
			ul.list-group
				each  item in data
					li.list-group-item #{item.title}
		.col-md-6
			form.form-horizontal(method="post",action="/addCate")
				.form-group
					label.col-sm-2.control-label 分类名
					div.col-sm-6
						input#cate.form-control(type="text",placeholder="分类名",name="category")
				.form-group
					div.col-sm-offset-2.col-sm-10
						button#submit.btn.btn-success.btn-sm 添加新分类
block footer
	script.
		$('#submit').on('click',function(e){
			e.preventDefault()
			var data = {
			title : $('#cate').val()
			}

			$.post('/addCate',data,function(r){
			alert(r.msg)
			})
		})



