//
	Created by zhengkai on 2014/7/14.
extend layout
block content
	.col-md-6
		form.form-horizontal
			.form-group
				label.col-sm-2.control-label 用户名
				.col-sm-10
					input.form-control(type="text",placeholder="用户名")
			.form-group
				label.col-sm-2.control-label 密码
				.col-sm-10
					input.form-control(type="password",placeholder="密码")
			.form-group
				div.col-sm-offset-2.col-sm-10
					button#submit.btn.btn-success.btn-sm 立刻注册
		